{
  "name": "ocbt-set_parent_back",
  "schedule": "0 0 2 * * 1,2,3,4,5,6,0",
  "displayname": "[OCBT] set_parent_back",
  "timezone": "Asia/Taipei",
  "disabled": false,
  "tags": {
    "service": "ocbt:1"
  },
  "concurrency": "forbid",
  "executor": "shell",
  "executor_config": {
    "command": "curl -X GET http://localhost/api/v1/BatchJob/SetParentOrderStatusBack -H 'Host: {{ KK_SERVICE.OCBT_WEB.DOMAIN }}' -H 'Cache-Control: no-cache'"
  }
}
