
@{
    ViewData["Title"] = "Home Page";
}
<div class="col-md-12">
    <div class="board text-center">
        <h1 class="display-4">Welcome</h1>
        <img id="home-welcome" src="@Url.Content("~/images/KKday-ocbt-home.jpg")" alt="" class="mt-40">
    </div>
</div>
